<h3>{{usuarioLocal.id}} {{usuarioLocal.nombre}}</h3>



<div class="animated rollIn" *ngIf="!usuarioLocal.editar">
  <h3>{{usuarioLocal.nombre}}</h3>

  <button class="btn btn-warning"
          (click)="usuarioLocal.editar = !usuarioLocal.editar"> Editar usuarioLocal</button>
</div>

<div class="animated bounceIn" *ngIf="usuarioLocal.editar">
  <h4>Actualizar</h4>


  <div class="form-group">

    <!--

<div class="form-group">

<label class="col-form-label">Nombre usuarioLocal:
</label>
<input class="form-control"
 placeholder="Ingrese nuevo Nombre"
 [(ngModel)]="usuarioLocal.nombre" type="text">
</div>
-->

    <label class="col-form-label">Nombre usuarioLocal:
    </label>
    <input class="form-control"
           placeholder="Ingrese nuevo Nombre"
           type="text"
           #usuarioLocalNombre
    >
  </div>

  <button class="btn btn-primary"
          (click)="actualizarUsuario(
                  usuarioLocal,usuarioLocalNombre.value)"> Actualizar usuarioLocal</button>



  <button class="btn btn-danger" (click)="eliminarUsuarioBackend(usuarioLocal,indice)"> Eliminar usuarioLocal</button>

  <button class="btn btn-secondary"
          (click)="usuarioLocal.editar = !usuarioLocal.editar"> Cancelar usuarioLocal</button>
</div>
