
p.rojo
<p class="rojo"></p>

p#verde
<p id="verde"></p>

div.verde
.verde
<div class="verde"></div>

img.imagen-responsiva*2
<img src="" alt="" class="imagen-responsiva">
<img src="" alt="" class="imagen-responsiva">

h1>a
<h1><a href=""></a></h1>

ol>li*4

<ol>
  <li4></li4>
  <li4></li4>
  <li4></li4>
  <li4></li4>
</ol>

h2.clase1.clase2.clase3
<h2 class="clase1 clase2 clase3"></h2>

.fila>.columna+.columna+h1

<div class="fila">
  <div class="columna"></div>
  <div class="columna"></div>
  <h1></h1>
</div>






<h1>Titulo</h1>

<p>ContenidoContenid oCont enidoContenidoCon tenidoContenidoContenid oCont Conteni doCon tenidoC ont enidoContenido</p>
